body {
  margin: 80px;
  font-family: Helvetica, sans-serif;
}

button {
  background-color: #6495ed;
  text-transform: uppercase;
  color: white;
  font-size: 20px;
  cursor: pointer;
  padding: 20px 40px 18px;
  margin: 0px 16px 0px 0px;
  border-width: 0;
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit;
  line-height: inherit;
}

p {
  font-size: 80px;
  margin-top: 132px;
  line-height: 1;
}


