body {
  margin: 80px;
  font-family: Helvetica, sans-serif;
}

button {
  text-transform: uppercase;
  color: white;
  font-size: 16px;
  min-width: 300px;
  border-radius: 10px;
  cursor: pointer;
  padding: 20px 40px 18px;
  margin: 0px 10px 10px 0px;
  border-width: 0;
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit;
  line-height: inherit;
}

button.orange {
  background-color: #FF901E;
}

button.blue {
  background-color: #3FA6F2;
}

p {
  font-size: 80px;
  margin-top: 120px;
  line-height: 1;
}


